<div class="dropdown" name="dataseries_select" id="dataseries_select">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose data series
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="qcew">QCEW</a>
    <a class="dropdown-item" href="oes">OES</a>
    <a class="dropdown-item" href="nationalehe">National EHE</a>
    <a class="dropdown-item" href="localehe">State EHE</a>
    <a class="dropdown-item" href="launemp">LA Unemployment</a>
  </div>
</div>