<h1>Query BLS Data</h1>
<div class="dropdown" name="dataseries_select" id="dataseries_select">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose data series
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="qcew">QCEW</a>
  </div>
</div>
<div id="option1" class="alloptions">

</div>
