<br/><br/>
<h1 class = "text-center">BLS Datasourcing Tool</h1>
<br/><br/>

<div class = "section">
  <div class = "row align-items-center">
    <a class="btn btn-primary btn-lg col mr-3" href="qcew" role="button">QCEW</a>
    <a class="btn btn-danger btn-lg col mr-3" href="oes" role="button">OES</a>
    <a class="btn btn-dark btn-lg col mr-3" href="launemp" role="button">LA Unemployment</a>
  </div>

  <br/><br/>
  <div class = "row align-items-center">
  <a class="btn btn-success btn-lg col mr-3" href="nationalehe" role="button">National EHE</a>
  <a class="btn btn-info btn-lg col mr-3" href="localehe" role="button">Local + State EHE</a>
  </div>   
</div>

<div id="option1" class="alloptions"> 
</div>
